<form method="post" action="/change_process">
    <table>
        <tr>
            <td>Old Password : </td>
            <td><input type="text" name="opass"></td>
        </tr>
        <tr>
            <td>New Password : </td>
            <td><input type="text" name="npass"></td>
        </tr>
        <tr>
            <td>Confirm Password : </td>
            <td><input type="text" name="cpass"></td>
        </tr>
        <tr>
            
            <td><input type="submit"></td>
        </tr>
    </table>
</form>