<form method="post">
  <table>
      <tr>
          <td>Email : </td>
          <td><input type="email" name="user_email1"></td>
      </tr>
      <tr>
          <td>Password : </td>
          <td><input type="password" name="user_password1"></td>
      </tr>
      <tr>
          <td><input type="submit"></td>
          <td><a href="/register"><input type="button" value="Register"></a></td>
      </tr>
      
  </table>
</form>