<form method="post">
    <table>
      <tr>
        <td>Name : </td>
        <td><input type="text" name="user_name"></td>
      </tr>
      <tr>
        <td>Age : </td>
        <td><input type="number" name="user_age"></td>
      </tr>
      <tr>
        <td>Email : </td>
        <td><input type="email" name="user_email"></td>
      </tr>
      <tr>
        <td>Password : </td>
        <td><input type="password" name="user_password"></td>
      </tr> 
      <tr>
        <td><input type="submit"></td>
        
      </tr>
    </table>
  </form>